@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');




* {
    margin : 0 ; 
    padding : 0 ; 
    box-sizing : border-box ; 

}


html {
font-size : 62.5% ;

}

body {
    overflow: hidden;
}


img.background {
width : 100% ; 
position : absolute ; 
height :  100% ; 
object-fit: cover; 

z-index : -1 ; 
}



header.header {
    display : flex ; 
    width : 100%; 
    align-items :center; 

   position : relative ; 
   
   top : 48px ; 
 
   

}

header img {
    margin-left : 60px ; 
}


header div.line {
width : 35% ; 
background-color: #484a53; 
height : 1px ;
position : relative ; 
 left : 40px ; 
margin-left : 35px ; 
z-index : 100 ; 

}

header nav.navbar {
    
    height : 30px ; 
   
    width : 60% ; 
    text-transform: uppercase;
    font-size : 2.4rem ;  
   
    color : white ; 
    font-family : 'Barlow Condensed';
    display : flex ; 
    justify-content: center;
    align-items: center;
    height : 112px ; 
   
    background-color: #282c34;
    
   


  

}

nav.navbar a {
    padding : 40px 0 ; 
    margin-left : 60px ; 
    
    
   
    white-space: nowrap;

    letter-spacing : 2.7px ;
    text-decoration: none;
    color : white ; 
     

}

nav.navbar a:nth-child(2) { 
border-bottom : 5px solid white ; 
}

nav.navbar a:hover:not(:nth-child(2)) {
    border-bottom : 5px solid #a6aab5 ; 
}

nav.navbar a span {
    font-weight:bold ; padding-right : 7px
}





h3.pick {
    color : white ; 
    font-family : 'Barlow Condensed';
    padding-top : 140px ; 
    font-size : 3.0rem ; 
    letter-spacing: 6px;
    font-weight: 100;
    
}

h3.pick span {
    color :gray ; 
    font-weight: bold;
    padding-left : 12.7vw ;
    
     

}



main.container {
    display : flex ; 
    justify-content: center;
    align-items: flex-start;
    color : white ; 
padding-top : 70px ; 
font-size : 20px ; 
font-family : 'Barlow Condensed';
text-align: justify;
color : #D0D6F9 ; 
padding-left : 10.4vw ;  
}

main.container article {
    width : 50vw ; 
    padding-left : 180px ; 
}


nav.navbar2 a {
    display : inline-block ; 
padding : 13px 0 13px 0 ;

margin-right : 35px ; 
font-weight: 100; 
letter-spacing : 4px ;
cursor: pointer;

}

nav.navbar2 a:first-child {
    border-bottom : 3px solid white ; 
}

nav.navbar2 a:hover:not(:first-child) {
    border-bottom :   3px solid gray ; 
}

article h3.planet 
 {
    font-size : 7vw ; ;  
   
    font-family : bellefair  ; 
    padding-top : 40px; 
    color : white ;
    width : 20vw ;
font-weight: 100;
 }

 article p {
   font-size : 21px ; 
   letter-spacing: 1px;
   width : 25vw ; 
   padding-top : 20px ; 

 }


footer.container2 {
    border-top : 1px solid gray ; 
    display : flex ; 
    padding-top : 4vh ;
    margin-top : 6vh ;  
    width : 27vw ; 
   
    
}

footer.container2 div {
    flex-basis:  30vw ; 
   
    white-space : nowrap ; 
}
footer.container2 div:nth-child(2){
    padding-left : 6vw ; 
}

footer.container2 div h5 {
    letter-spacing : 3px ; 
    font-weight: 100;
    padding-bottom : 1.6vh  ; 
    font-size: 1vw ; 
   
}

footer.container2 div h3{
    font-size : 2.4vw ; 
    font-family : bellefair  ;
    color : white ; 
    font-weight : 100 ; 
}





